body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

.ava1,
.ava2 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin: 20px;
}

.img-container {
  position: relative;
  margin: 10px;
}

.ava1 img,
.ava2 img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.cc {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}
